<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Chess!</title>
</head>

<style>
    body {
        background-color: black;
        color: white;
    }

    row {
        display: flex;
    }

    .black_cell {
        background-color: darkgreen;
    }

    .white_cell {
        background-color: cyan;
    }

    .pressed {
        background-color: yellow;
    }

    .white_piece {
        color: white;
        text-shadow: -0.1rem -0.1rem 0 #000, 0.1rem -0.1rem 0 #000, -0.1rem 0.1rem 0 #000, 0.1rem 0.1rem 0 #000;
    }

    .black_piece {
        color: black;
        text-shadow: -0.05rem -0.05rem 0 #fff, 0.05rem -0.05rem 0 #fff, -0.051rem 0.05rem 0 #fff, 0.05rem 0.05rem 0 #fff;
    }

    .cell {
		margin: 0;
		padding: 0;
        height: 42px;
        width: 42px;
        font-size: xx-large;
    }
</style>

<body>
    <h1>Let's play some chess!</h1>
    <button id="restart">Restart</button>
    <h1>{{state .State}}</h1>
    <div>
        {{range $keyY, $valueY := .Board}}
        <row>
            {{ range $keyX, $valueX := $valueY }}
            <button x="{{ $keyX }}" y="{{ $keyY }}"
                class="cell{{if even $keyX $keyY }} white_cell{{else}} black_cell{{end}}{{if $valueX.White }} white_piece{{else}} black_piece{{end}}">{{
                string $valueX.T }}</button>
            {{ end }}
        </row>
        {{ end }}
    </div>
    <script>
        var secondMove = false;
        var ix, iy, fx, fy;
        var cells = document.getElementsByClassName("cell")
        for (i = 0; i < cells.length; i++) {
            cells[i].addEventListener("click", makeMove);
        }
        function makeMove(e) {
            console.log(e)
			if (e.target.innerText == secondMove) {
				return
			}
            if (e.target.classList.contains("pressed") && secondMove) {
                e.target.classList.remove("pressed")
                secondMove = false
                return
            } else if (!secondMove) {
                e.target.classList.add("pressed")

                ix = e.target.attributes.x.value;
                iy = e.target.attributes.y.value;

                secondMove = true
                return
            }
            fx = e.target.attributes.x.value;
            fy = e.target.attributes.y.value;
            open(window.location.origin + `/move?ix=${ix}&iy=${iy}&fx=${fx}&fy=${fy}`, "_self");
        }
        document.getElementById("restart").addEventListener("click",
            function (e) {
                open(window.location.origin + `/restart`, "_self");
            }
        )
    </script>
</body>

</html>